.wishlist{
  border: 2px solid rgb(0, 237, 67);
  height: 60vh;
  width: 30vw;
  margin: auto;
  margin-top: 10%;
  box-shadow:0px 0px 20px 5px rgb(0, 237, 67);
  border-radius: 10px 10px 10px 10px;

}
.user{
  width: 90%;
  height: 5vh;
  margin: auto;
  margin-top: 10%;
  font-size: 25px;
}
#wish{
  width: 45%;
  height: 30px;
  margin: auto;
  /* font-size: 20px; */
}
.btn{
  height: 35px;
}
.datalist{
  margin-left: 10%;
  font-size: 20px;
}
.wishlist{
  overflow: auto;
}